.icon-plus.toggled,
.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

