.icon-ad { background-image: url('png/ad.png'); background-repeat: no-repeat; }

.icon-bill { background-image: url('png/bill.png'); background-repeat: no-repeat; }

.icon-bowling { background-image: url('png/bowling.png'); background-repeat: no-repeat; }

.icon-browsers { background-image: url('png/browsers.png'); background-repeat: no-repeat; }

.icon-button { background-image: url('png/button.png'); background-repeat: no-repeat; }

.icon-buzzer { background-image: url('png/buzzer.png'); background-repeat: no-repeat; }

.icon-calculator { background-image: url('png/calculator.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon-converse { background-image: url('png/converse.png'); background-repeat: no-repeat; }

.icon-conveyor { background-image: url('png/conveyor.png'); background-repeat: no-repeat; }

.icon-demoltion { background-image: url('png/demoltion.png'); background-repeat: no-repeat; }

.icon-fg-logo { background-image: url('png/fg-logo.png'); background-repeat: no-repeat; }

.icon-fire extinguisher { background-image: url('png/fire extinguisher.png'); background-repeat: no-repeat; }

.icon-helmet { background-image: url('png/helmet.png'); background-repeat: no-repeat; }

.icon-icecream { background-image: url('png/icecream.png'); background-repeat: no-repeat; }

.icon-lamp { background-image: url('png/lamp.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-luggage { background-image: url('png/luggage.png'); background-repeat: no-repeat; }

.icon-majestic { background-image: url('png/majestic.png'); background-repeat: no-repeat; }

.icon-microscope { background-image: url('png/microscope.png'); background-repeat: no-repeat; }

.icon-npm-logo { background-image: url('png/npm-logo.png'); background-repeat: no-repeat; }

.icon-passport { background-image: url('png/passport.png'); background-repeat: no-repeat; }

.icon-plane { background-image: url('png/plane.png'); background-repeat: no-repeat; }

.icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

.icon-presentation { background-image: url('png/presentation.png'); background-repeat: no-repeat; }

.icon-server { background-image: url('png/server.png'); background-repeat: no-repeat; }

.icon-skate { background-image: url('png/skate.png'); background-repeat: no-repeat; }

.icon-smart watch { background-image: url('png/smart watch.png'); background-repeat: no-repeat; }

.icon-switcher { background-image: url('png/switcher.png'); background-repeat: no-repeat; }

.icon-theatre { background-image: url('png/theatre.png'); background-repeat: no-repeat; }

.icon-tie { background-image: url('png/tie.png'); background-repeat: no-repeat; }

.icon-top { background-image: url('png/top.png'); background-repeat: no-repeat; }

.icon-tower  { background-image: url('png/tower .png'); background-repeat: no-repeat; }

.icon-turntable { background-image: url('png/turntable.png'); background-repeat: no-repeat; }

.icon-umbrella { background-image: url('png/umbrella.png'); background-repeat: no-repeat; }

.icon-vespa { background-image: url('png/vespa.png'); background-repeat: no-repeat; }

.icon-wacom { background-image: url('png/wacom.png'); background-repeat: no-repeat; }

.icon-workspace { background-image: url('png/workspace.png'); background-repeat: no-repeat; }

.icon-wrench { background-image: url('png/wrench.png'); background-repeat: no-repeat; }

.icon-x { background-image: url('png/x.png'); background-repeat: no-repeat; }

