
.icon-bear-2 {
	background-image: url('png/bear-2.png');
	background-repeat: no-repeat;
}



.icon-bear-primary {
	background-image: url('png/bear-primary.png');
	background-repeat: no-repeat;
}



.icon-bear-secondary {
	background-image: url('png/bear-secondary.png');
	background-repeat: no-repeat;
}



.icon-burger {
	background-image: url('png/burger.png');
	background-repeat: no-repeat;
}



.icon-chevron {
	background-image: url('png/chevron.png');
	background-repeat: no-repeat;
}



.icon-cloud-sync {
	background-image: url('png/cloud-sync.png');
	background-repeat: no-repeat;
}



.icon-delete {
	background-image: url('png/delete.png');
	background-repeat: no-repeat;
}



.icon-disc-arrow {
	background-image: url('png/disc-arrow.png');
	background-repeat: no-repeat;
}



.icon-disc-plus {
	background-image: url('png/disc-plus.png');
	background-repeat: no-repeat;
}



.icon-eye {
	background-image: url('png/eye.png');
	background-repeat: no-repeat;
}



.icon-flag {
	background-image: url('png/flag.png');
	background-repeat: no-repeat;
}



.icon-hotdiggity {
	background-image: url('png/hotdiggity.png');
	background-repeat: no-repeat;
}



.icon-kswiss {
	background-image: url('png/kswiss.png');
	background-repeat: no-repeat;
}



.icon-map {
	background-image: url('png/map.png');
	background-repeat: no-repeat;
}



.icon-marker {
	background-image: url('png/marker.png');
	background-repeat: no-repeat;
}



.icon-menu {
	background-image: url('png/menu.png');
	background-repeat: no-repeat;
}



.icon-minus {
	background-image: url('png/minus.png');
	background-repeat: no-repeat;
}



.icon-mountain {
	background-image: url('png/mountain.png');
	background-repeat: no-repeat;
}



.icon-over-ie8-data-uri-limit {
	background-image: url('png/over-ie8-data-uri-limit.png');
	background-repeat: no-repeat;
}



.icon-piggy {
	background-image: url('png/piggy.png');
	background-repeat: no-repeat;
}



.icon-plus {
	background-image: url('png/plus.png');
	background-repeat: no-repeat;
}



.icon-search {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
}


