.icon-wee-arrow-11 { background-image: url(png/arrow-11-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-arrow-tiny { background-image: url(png/arrow-tiny-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-bear { background-image: url(png/bear-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-cat { background-image: url(png/cat-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-gear { background-image: url(png/gear-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-gradients-flat-opacity { background-image: url(png/gradients-flat-opacity-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-gradients { background-image: url(png/gradients-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-grunticon { background-image: url(png/grunticon-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-Home_Media { background-image: url(png/Home_Media-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-Image_Exchange { background-image: url(png/Image_Exchange-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-Internet { background-image: url(png/Internet-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-Internet_FP2 { background-image: url(png/Internet_FP2-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-Internet_Radio { background-image: url(png/Internet_Radio-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-Internet_Tel { background-image: url(png/Internet_Tel-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-Intranet { background-image: url(png/Intranet-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-map { background-image: url(png/map-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-plus { background-image: url(png/plus-2x.png); background-repeat: no-repeat; background-size: 100%; }

.icon-wee-star { background-image: url(png/star-2x.png); background-repeat: no-repeat; background-size: 100%; }