
.icon-Home_Media {
	background-image: url('png/Home_Media.png');
	background-repeat: no-repeat;
}



.icon-Image_Exchange {
	background-image: url('png/Image_Exchange.png');
	background-repeat: no-repeat;
}



.icon-Internet-no-width-no-height {
	background-image: url('png/Internet-no-width-no-height.png');
	background-repeat: no-repeat;
}



.icon-Internet {
	background-image: url('png/Internet.png');
	background-repeat: no-repeat;
}



.icon-Internet_FP2 {
	background-image: url('png/Internet_FP2.png');
	background-repeat: no-repeat;
}



.icon-Internet_Radio {
	background-image: url('png/Internet_Radio.png');
	background-repeat: no-repeat;
}



.icon-Internet_Tel {
	background-image: url('png/Internet_Tel.png');
	background-repeat: no-repeat;
}



.icon-Intranet {
	background-image: url('png/Intranet.png');
	background-repeat: no-repeat;
}



.icon-arrow-11 {
	background-image: url('png/arrow-11.png');
	background-repeat: no-repeat;
}



.icon-arrow-btn {
	background-image: url('png/arrow-btn.png');
	background-repeat: no-repeat;
}



.icon-arrow-tiny {
	background-image: url('png/arrow-tiny.png');
	background-repeat: no-repeat;
}



.icon-bear-0 {
	background-image: url('png/bear-0.png');
	background-repeat: no-repeat;
}



.icon-bear-2 {
	background-image: url('png/bear-2.png');
	background-repeat: no-repeat;
}



.icon-bear-blue {
	background-image: url('png/bear-blue.png');
	background-repeat: no-repeat;
}



.icon-bear-primary {
	background-image: url('png/bear-primary.png');
	background-repeat: no-repeat;
}



.icon-bear {
	background-image: url('png/bear.png');
	background-repeat: no-repeat;
}



.icon-burger {
	background-image: url('png/burger.png');
	background-repeat: no-repeat;
}


#el-gato,
.icon-cat {
	background-image: url('png/cat.png');
	background-repeat: no-repeat;
}



.icon-chevron {
	background-image: url('png/chevron.png');
	background-repeat: no-repeat;
}



.icon-cloud-sync {
	background-image: url('png/cloud-sync.png');
	background-repeat: no-repeat;
}



.icon-cyrillic {
	background-image: url('png/cyrillic.png');
	background-repeat: no-repeat;
}



.icon-dark26 {
	background-image: url('png/dark26.png');
	background-repeat: no-repeat;
}



.icon-delete {
	background-image: url('png/delete.png');
	background-repeat: no-repeat;
}



.icon-disc-arrow {
	background-image: url('png/disc-arrow.png');
	background-repeat: no-repeat;
}



.icon-disc-plus {
	background-image: url('png/disc-plus.png');
	background-repeat: no-repeat;
}



.icon-electrical14 {
	background-image: url('png/electrical14.png');
	background-repeat: no-repeat;
}



.icon-eye {
	background-image: url('png/eye.png');
	background-repeat: no-repeat;
}



.icon-fishing-hook {
	background-image: url('png/fishing-hook.png');
	background-repeat: no-repeat;
}



.icon-flag {
	background-image: url('png/flag.png');
	background-repeat: no-repeat;
}



.icon-gear {
	background-image: url('png/gear.png');
	background-repeat: no-repeat;
}



.icon-gradients-flat-opacity {
	background-image: url('png/gradients-flat-opacity.png');
	background-repeat: no-repeat;
}



.icon-gradients {
	background-image: url('png/gradients.png');
	background-repeat: no-repeat;
}



.icon-grunticon {
	background-image: url('png/grunticon.png');
	background-repeat: no-repeat;
}



.icon-grunticontest-2 {
	background-image: url('png/grunticontest-2.png');
	background-repeat: no-repeat;
}



.icon-grunticontest-blue {
	background-image: url('png/grunticontest-blue.png');
	background-repeat: no-repeat;
}



.icon-grunticontest-primary {
	background-image: url('png/grunticontest-primary.png');
	background-repeat: no-repeat;
}



.icon-grunticontest {
	background-image: url('png/grunticontest.png');
	background-repeat: no-repeat;
}



.icon-gummy-bears-1 {
	background-image: url('png/gummy-bears-1.png');
	background-repeat: no-repeat;
}


nav li a.deadly-bears:before,
.icon-gummy-bears-2 {
	background-image: url('png/gummy-bears-2.png');
	background-repeat: no-repeat;
}



.icon-hotdiggity {
	background-image: url('png/hotdiggity.png');
	background-repeat: no-repeat;
}



.icon-kswiss {
	background-image: url('png/kswiss.png');
	background-repeat: no-repeat;
}



.icon-map {
	background-image: url('png/map.png');
	background-repeat: no-repeat;
}



.icon-marker {
	background-image: url('png/marker.png');
	background-repeat: no-repeat;
}



.icon-menu {
	background-image: url('png/menu.png');
	background-repeat: no-repeat;
}



.icon-minus {
	background-image: url('png/minus.png');
	background-repeat: no-repeat;
}



.icon-mountain {
	background-image: url('png/mountain.png');
	background-repeat: no-repeat;
}



.icon-over-ie8-data-uri-limit {
	background-image: url('png/over-ie8-data-uri-limit.png');
	background-repeat: no-repeat;
}



.icon-piggy {
	background-image: url('png/piggy.png');
	background-repeat: no-repeat;
}



.icon-plus {
	background-image: url('png/plus.png');
	background-repeat: no-repeat;
}



.icon-rain48 {
	background-image: url('png/rain48.png');
	background-repeat: no-repeat;
}



.icon-search {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
}



.icon-sketch-example-blue {
	background-image: url('png/sketch-example-blue.png');
	background-repeat: no-repeat;
}



.icon-sketch-example-primary {
	background-image: url('png/sketch-example-primary.png');
	background-repeat: no-repeat;
}



.icon-sketch-example-red {
	background-image: url('png/sketch-example-red.png');
	background-repeat: no-repeat;
}



.icon-sketch-example {
	background-image: url('png/sketch-example.png');
	background-repeat: no-repeat;
}



.icon-snowflake3 {
	background-image: url('png/snowflake3.png');
	background-repeat: no-repeat;
}



.icon-star {
	background-image: url('png/star.png');
	background-repeat: no-repeat;
}



.icon-sun93 {
	background-image: url('png/sun93.png');
	background-repeat: no-repeat;
}


