.iconarrow-11 { background-image: url(png/arrow-11.png); background-repeat: no-repeat; }

.iconarrow-tiny { background-image: url(png/arrow-tiny.png); background-repeat: no-repeat; }

.iconbear { background-image: url(png/bear.png); background-repeat: no-repeat; }

.iconcat { background-image: url(png/cat.png); background-repeat: no-repeat; }

.icongear { background-image: url(png/gear.png); background-repeat: no-repeat; }

.icongradients-flat-opacity { background-image: url(png/gradients-flat-opacity.png); background-repeat: no-repeat; }

.icongradients { background-image: url(png/gradients.png); background-repeat: no-repeat; }

.iconHome_Media { background-image: url(png/Home_Media.png); background-repeat: no-repeat; }

.iconImage_Exchange { background-image: url(png/Image_Exchange.png); background-repeat: no-repeat; }

.iconInternet { background-image: url(png/Internet.png); background-repeat: no-repeat; }

.iconInternet_FP2 { background-image: url(png/Internet_FP2.png); background-repeat: no-repeat; }

.iconInternet_Radio { background-image: url(png/Internet_Radio.png); background-repeat: no-repeat; }

.iconInternet_Tel { background-image: url(png/Internet_Tel.png); background-repeat: no-repeat; }

.iconIntranet { background-image: url(png/Intranet.png); background-repeat: no-repeat; }

.iconmap { background-image: url(png/map.png); background-repeat: no-repeat; }

.iconplus { background-image: url(png/plus.png); background-repeat: no-repeat; }

.iconstar { background-image: url(png/star.png); background-repeat: no-repeat; }

.iconunicon { background-image: url(png/unicon.png); background-repeat: no-repeat; }