body {
	font-family: Arvo, serif;
	margin: 0;
	color: #444;
}

a {
	color: #42b549;
}

.header.icon-top {
	width: 100%;
	height: 500px;
	padding: 1px 0;
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #1d8ac8;
}
.head-inner {
	max-width: 70em;
	margin: 0 auto;
	position: relative;
}
.fg {
	text-align: center;
	color: #fff;
	position: relative;
	max-width: 25em;
	margin: 0 auto 1em;
}
.fg a {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	width: 221px;
	height: 32px;
	margin: 1em auto .3em;
}
.fg em {
	display: block;
	font-style: italic;
	color: #fff;
	color: rgba(255,255,255,.9);
	font-family: pacifico, cursive;
	font-weight: normal;
	font-style: normal;
	font-size: 1.25em;
	background-color: #1d8ac8;
	position: relative;
	z-index: 1;
	display: inline-block;
}
.fg:after {
	content: "\20";
	position: absolute;
	bottom: .65em;
	border-bottom: 2px solid #fff;
	border-color: rgba(255,255,255,.9);
	width: 100%;
	display: block;
	width: 85%;
	margin-left: -40%;
	left: 50%;
}
h1.icon-logo {
	width: 235px;
height: 180px;
	overflow: hidden;
	position: relative;
	margin: .5em auto;
}
.icon-plane {
	width: 19px;
	height: 25px;
	display: block;
	position: absolute;
	right: 0;
	bottom: .1em;
}
.icon-majestic {
	position: absolute;
right: 2%;
top: 15em;
display: block;
width: 86px;
height: 85px;
}
.hide-a11y {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

.content {
	max-width: 45em;
	padding: 0em 5% 2em;
	margin: -6em auto 0;
	line-height: 1.4;
}
h2,
h3 {
	font-family: pacifico, cursive;
	color: #1073B3;
	font-weight: normal;
	line-height: 1.2;
}
h2 {
	font-size: 1.4em;
	margin: 1.5em 0 .1em;
}

.content p {
	font-size: 1em;
}
pre,
.icon-group {
	margin: 1em 0;
	padding: 1em;
	border: 4px solid #a39c90;
}
pre {
	background: #444;
	color: #f3f2f0;
	font-size: 1.2em;
	font-family: consolata, monospace;
}
.icon-group {
	background: #f3f2f0;
	overflow: hidden;
}
.icon-group li {
	float: left;
	width: 33%;
	list-style: none;
	height: 100px;
	background-position: 50% 50%;
	min-width: 100px;
	margin: 0;
	padding: 0;
}
.icon-browsers {
	padding-bottom: 123px;
	background-position: bottom left;
}

a.icon-plus {
	display: block;
	width: 76px;
	height: 76px;
}

.icon-plus svg path {
	fill: #42b549;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	-webkit-transition: -webkit-transform 0.25s ease-in-out;
	-ms-transition: -ms-transform 0.25s ease-in-out;
	-o-transition: -o-transform 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out;
}
.icon-plus.icon-x svg path.v {
	fill: #000;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);

	-webkit-transition: -webkit-transform 0.25s ease-in-out, fill 0.5s ease-in-out;
	-moz-transition: -moz-transform 0.25s ease-in-out, fill 0.5s ease-in-out;
	-ms-transition: -ms-transform 0.25s ease-in-out, fill 0.5s ease-in-out;
	-o-transition: -o-transform 0.25s ease-in-out, fill 0.5s ease-in-out;
	transition: transform 0.25s ease-in-out, fill 0.5s ease-in-out;
}
.icon-plus.icon-x svg path.h {
	fill: #000;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);

	-webkit-transition: -webkit-transform 0.25s ease-in-out, fill 0.5s ease-in-out;
	-moz-transition: -moz-transform 0.25s ease-in-out, fill 0.5s ease-in-out;
	-ms-transition: -ms-transform 0.25s ease-in-out, fill 0.5s ease-in-out;
	-o-transition: -o-transform 0.25s ease-in-out, fill 0.5s ease-in-out;
	transition: transform 0.25s ease-in-out, fill 0.5s ease-in-out;
}



@media (min-width: 40em){
	.content {
		line-height: 1.5;
	}
	h2 {
		font-size: 2.1875em;
		margin: 1.5em 0 .05em;
		border-bottom: 3px solid #eee;
		display: inline-block;
	}

	.content p {
		font-size: 1.1em;
	}
}